@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #131313;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

h1 {
  font-size: calc(2.25rem + 1vw);
}

h2 {
  font-size: calc(1.75rem + 1vw);
}

p,
li,
button {
  font-size: calc(1.6rem + 1vw);
  font-weight: 300;
}

.mobile-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  padding: 0 1rem;
  color: #575454;
}

.mobile-header h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: #131313;
}

#burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#burger span {
  background: #131313;
  padding: 0.1rem 1.5rem;
  margin: 0.2rem;
}

#search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-information-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10rem;
}

.intro-information-section img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-information-section > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
}

.trial-membership-info {
  padding: 2rem;
}

.trial-membership-info > * {
  padding: 1.5rem;
}

.trial-membership-info ul {
  padding: 0 3rem;
}

.trial-membership-info li {
  margin-bottom: 3rem;
}

.our-treat-section {
  background: #e7e7e7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 3rem;
}

.our-treat-section .product {
  text-align: center;
  margin: 0 5rem;
}

.our-treat-section .flex-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-treat-section p {
  margin-top: 1rem;
}

.our-treat-section header h2 {
  text-transform: uppercase;
}

.pet-approved-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10rem;
}

.pet-approved-section > * {
  margin: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
}

.pet-approved-section li {
  margin: 1.5rem 0;
}

.pet-approved-section ul {
  list-style: none;
}

.pet-approved-section ul li:before {
  content: "✓";
  margin-right: 1rem;
}

.pet-approved-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  padding: 0;
}

.pet-approved-section .pet-approved-info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.pet-approved-section .pet-approved-info > * {
  margin: 1.5rem;
}

.desktop {
  display: none;
}

#cta-button {
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
  background: #d47c66;
  color: white;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 2rem 0;
  border: #d47c66 solid 3px;
  cursor: pointer;
}

#cta-button:hover {
  color: #d47c66;
  background: white;
}

@media screen and (min-width: 768px) {
  main {
    max-width: 1500px;
    margin: 0 auto;
  }
  .desktop {
    display: block;
  }
  .desktop img {
    height: 100%;
  }
  .mobile {
    display: none;
  }
  #cta-button {
    position: static;
  }
  section {
    min-height: 80vh;
  }
}
/*# sourceMappingURL=main.css.map */